body{
	background-color: #1a1a1a;
}
.menu-haut {
	background-color: black;
	border-bottom: 1px solid #b60000;
	padding: 30px;
	font-size: 1.2em;
}
.logo-next-match{
	margin: auto;
}
h3.bloc-titre-next-match{
	text-align: center;
    padding: 15px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.bloc-nom-equipe-prochain-match{
	text-align: center;
}
a.btn.bloc-prono-next-match{
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
}
.panel-footer.bloc-prono-next-match{
	background-color:#b60000;
}
p.bloc-date-next-match{
	text-align: center;
	margin-top: 20px;
}
.panel-heading.bloc-titre-prochain-match{
	text-align: center;
}
.btn.bloc-prono-next-match.actu{
	display: block;
}
.page-header.homepage{
	color: white;
	border-bottom: 1px solid #b60000;
	text-align: center;
}
.page-header.homepage small{
	color: white;
}
img.logo-equipe-prochain-match{
	display: block;
	margin: auto;
}
div.nom-equipe-page-prochain-match{
	text-align: center;
}
div.champ-score input{
	display: block;
	margin: auto;
	margin-top: 20px;
}
h3.date-page-prochain-match{
	text-align: center;
}
p.journee-page-match{
	text-align: center;
}
input.btn.send-prono-bouton{
	display: block;
	margin: auto;
	font-size: 20px;
}
h3.titre-prono{
	text-align: center;
}
div.prono, div.resultat, div.titre-rencontre h3{
	text-align: center;
	margin: auto;
}
div.score-page{
	text-align: center;
    background-color: #1a1a1a;
    margin: auto;
    border-radius: 15px;
    border: 3px solid #b60000;
    color: white;
}
p.info-pronostic{
	font-size: 21px;
	padding: 5px;
}
p.info-pronostic span{
	margin-right:10px;
	margin-left: 5px;
}
div.panel-footer .voir-classement-page-prono{
	display: block;
	margin: auto;
	font-size: 19px;
}
.titre-classement{
	text-align: center;
}
.titre-liste-match-classement{
	text-align: center;
}
hr.red{
	border-top:1px solid #b60000;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #bf5329;
    border-color: #bf5329;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.6;
    text-decoration: none;
    color: #bf5329;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
h3.titre-prono-info-user{
	text-align: center;
}
p a.btn.btn-stade{
	color: #fff;
    background-color: #b60000;
    border-color: #000000;
}